body {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 1214px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 1px solid red;
}

header {
  padding-top: 50px;
  padding-bottom: 40px;
}

.header-box {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: auto;
}

.header-img {
  width: 150px;
  height: 65.214px;
}

.nav-list {
  display: flex;
  gap: 94px;
}

.nav-link {
  padding: 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #252b42;
}

.nav-link:hover,
.nav-link:focus {
  color: #fa4a0c;
}

.hero {
  padding-top: 80px;
  padding-bottom: 162px;
  text-align: center;
  /* background-color: #252b42; */
background-image: url(../img/hero.png);
  
}

.hero-text {
  color: #f6f6f6;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.1px;
  margin-bottom: 10px;
}
.hero-title {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px; /* 137.931% */
  letter-spacing: 0.2px;
  width: 799px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.hero-desk {
  color: #f6f6f6;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.58; /* 158.333% */
  letter-spacing: 0.2px;
  margin-bottom: 54px;
}

.hero-list {
display: flex;
gap: 67px;
justify-content: center;


}

.hero-btn {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.1px;
  background-color: transparent;
  padding: 16px 58px;
  border-radius: 30px;
  border: 1px solid #fff;
}

.app {
  text-align: center;
  padding-top: 56px;
  padding-bottom: 185px;
}

.app-title {
color: #000;
font-family: "Poppins";
font-size: 44px;
font-style: normal;
font-weight: 600;
line-height: 36px; 
letter-spacing: 0.1px;
margin-bottom: 70px;
}

.app-item {
  display: flex;
  align-items: center;
  margin-bottom: 108px;
  justify-content: space-between;
}

.app-item:last-child {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 0px;
  justify-content: space-between  ;
}


.app-box {
  text-align: start;
}

.app-image {
width: 250px;
height: 506.972px;
}

.app-caption {
color: #FA4A0C;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.1px;
margin-bottom: 27px;
}

.app-sup-title {
  color: #252B42;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 57px;
letter-spacing: 0.2px;
width: 561px;
margin-bottom: 27px;
}

.app-desc {
  color: #737373;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 38px;
letter-spacing: 0.2px;
width: 467px;
}


