body {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 1214px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 1px solid red;
}

header {
  padding-top: 50px;
  padding-bottom: 40px;
  
}

.header-box{
  display: flex;
  align-items: center;
  gap: 455px;
}


.nav-list{
  display: flex;
  gap: 94px;

}







.header-img {
  width: 150px;
  height: 66px;
}



.nav-link {
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #252b42;
}

.nav-link:hover,
.nav-link:focus {
  color: #fa4a0c;
}

.hero {
  padding-top: 80px;
  padding-bottom: 162px;
  text-align: center;
  background-image: url(../img/hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-text {
  color: #f6f6f6;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.1px;
  margin-bottom: 10px;
 
}
.hero-title {
  color: #fff;
  text-align: center;
  font-family: "Poppins";
  font-size: 58px;
  font-weight: 700;
  line-height: 1.37;
  letter-spacing: 0.2px;
  width: 799px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;

}

.hero-desk {
  color: #f6f6f6;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.58;
  letter-spacing: 0.2px;
  margin-bottom: 54px;

}

.hero-list{
  display: flex;
  justify-content: center;
  gap: 67px;
}

.hero-btn {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.1px;
  background-color: transparent;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 30px;
border: 1px solid #FFF;
width: 236px;
}
.hero-btn:hover {
  background: #FA4A0C;
  border: none;
}

.app {
  text-align: center;
  padding-top: 56px;
  padding-bottom: 185px;
}

.app-title {
  color: #000;
  font-family: "Poppins";
  font-size: 44px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.1px;
 
}






.app-image {
  width: 250px;
  height: 507px;
}

.app-caption {
  color: #fa4a0c;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.1px;
 
}

.app-sup-title {
  color: #252b42;
  font-size: 40px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.2px;
 
}

.app-desc {
  color: #737373;
  font-size: 24px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0.2px;

}

.orden {
  padding-top: 136px;
  padding-bottom: 133px;
  text-align: center;
  background-image: url(../img/order.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.orden-title {
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.42;
  letter-spacing: 0.2px;
 
}

.orden-text {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.58;
  letter-spacing: 0.2px;
  
}



.orden-btm {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.75;
  letter-spacing: 0.2px;
  padding: 18px 31px;
  border-radius: 10px;
  background: transparent;
  border-color: #FFF;
}

.orden-btm:hover, .orden-btm:focus {
  background: #FA4A0C;
  border: none;
}



.footer {
  padding-top: 113px;
  padding-bottom: 60px;
}



.footer-img {
  width: 150px;
  height: 66px;
}

.footer-text {
  color: #5c5c5c;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.1px;
}

